.container {
  width: 440px;
  margin: 50px auto;
}

.container a {
  background-color: black;
  color: #d0e9f9;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.container a:hover {
    background-color: #d0e9f9;
  color: black;
  transform: scale(1.03);
   box-shadow: rgba(0, 180, 216, 0.4) 0 5px 15px ;
}

@media (max-width: 600px) {
  .container {
    width: 320px;
  }
}
